doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title SmartSoft - Inferenciador
    // bower:css
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/jsoneditor/dist/jsoneditor.min.css')
    // endbower
    // bower:js
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    script(src='/lib/jsoneditor/dist/jsoneditor.min.js')
    // endbower
    // inject:css
    link(rel='stylesheet', href='/css/style.css')
    // endinject
    // inject:js
    // endinject
    // Custom styles
    link(href='css/style.css', rel='stylesheet')
    // <link rel="shortcut icon" href="img/favicon.ico">
  body
    nav.navbar.navbar-fixed-top.bg-primary
      .container.nav-cust.text-center
        h3 Inferenciador de Reglas
    br
    br
    .container
      .starter-template
        .col-md-offset-6.col-md-4
          ul.list-inline
            li
              a.btn.btn-info.btn-lg(href='#', data-toggle='modal', data-target='#myModal') Inferenciador
            li
              a.btn.btn-success.btn-lg(href='#', data-toggle='modal', data-target='#myModal2') Crear Regla
    br
    br
    .container
      .row
        .col-md-offset-2.col-md-8
          table.table.table-striped
            tr
              th Identificador
              th Nombre
              th Condición
              th Operaciones
            tr
              td 9873149187341
              td Regla 1
              td "Monto > 1400 & Comercio == Mac"
              td
                a(href='#') Editar 
                a(href='#')  Eliminar
            tr
              td 8287345239875
              td Regla 2
              td "Monto > 1400 & Comercio == Mac"
              td
                a(href='#') Editar 
                a(href='#')  Eliminar
            tr
              td 8723495874234
              td Regla 3
              td "Monto > 1400 & Comercio == Mac"
              td
                a(href='#') Editar 
                a(href='#')  Eliminar
    // Modal Inferenciador
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-success(type='button') Guardar Regla
            button.btn.btn-info(type='button', data-dismiss='modal') Listar Reglas
    // Modal Crear Regla
    #myModal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModal2Label')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModal2Label.modal-title Probar Hecho
          .modal-body
            // json editor
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Cancelar
            button.btn.btn-primary(type='button') Enviar
    // End of modals
    // test of json editor
    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    //
      <script src="lib/jquery/dist/jquery.min.js"></script>
      <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
